.footer__column-link {
    text-align: left;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    opacity: 1;
}

.footer__column-link:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out 0.5s;
}