.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*Свойства блока header*/

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.logo {
  margin: 0;
  z-index: 3;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  padding-left: 64px;
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  font-size: 102px;
  font-weight: bold;
  color: black;
  z-index: 4;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  font-weight: normal;
  align-self: flex-end;
  z-index: 4;
  }

.header__link {
  font-family: helvetica, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 4;
  font-size: 18px;
  line-height: 25px;
}

.header__main-illustation {
  z-index: 3;
  position: absolute;
  height: 608px;
  width: 765px;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 2;
}

.content {
  margin: 0;
}

/*Свойства блока description*/

.description {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  margin: 100px 0 0 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: helvetica, Arial, Helvetica, sans-serif;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
  text-align: left;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-family: helvetica, Arial, Helvetica, sans-serif;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

two-columns__paragraph:last-of-type {
  margin: 30px 0 0 0;
}

/*Свойства блока digits*/

.digits {
  margin: 100px auto 100px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 6;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 6;
}

.table {
  width: 1100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  z-index: 6;
}

.table__cell {
  list-style: none;
  font-family: helvetica, Arial, Helvetica, sans-serif;
}

.table__cell_theme_light {
  width: 250px;
  margin: 60px 0 0 0;
  color: #000;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*Свойства блока feynman*/

.feynman {
  min-height: 890px;
  position: relative;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 100px 0 70px 0;
  padding: 0;
  width: 648px;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 4;
}

.feynman__subtitle {
  margin: 0;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 4;
}

.feynman__main-illustation {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 4;
}

/*Свойства блока kaufman*/

.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0 0;
  color: white;
}

.kaufman__trangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 5;
}

/*Свойства блока footer*/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.footer__columns {
  padding: 60px 0 40px 0;
  margin: 0;
  min-height: 250px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.footer__column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: helvetica, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-align: left;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 16px 0;
}

.footer__column-link {
  text-align: left;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column_content_social {
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}